* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
nav {
    width: 100%;
    padding-left: 6rem;
    padding-right: 8rem;
    padding-top: 1.25rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: flex-start;
    gap: 8.5rem;
    align-items: center;
}

.header_title {
    font-family: "Prata", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: white;
}
.header_list {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    list-style: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:smaller;
    font-weight: 400;
}
header a {
    text-decoration: none;
    color: white;
}
header a:hover {
    -webkit-text-stroke: 1px silver;
}
.page_home {
    display: flex;
    flex-direction: row;
    color: white;
}
.part_1 {
    width: 60%;
    background-color: #222;
}
.part_container {
    width: 100%;
    padding-left: 6rem;
    padding-top: 6rem;
    padding-top: 10.1rem;
}
.group_title {
    font-family: "Prata", sans-serif;
    font-size: 3.3rem;
    font-weight: 400;
    color: white;
    padding-bottom: 2rem;
}
.under_title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 400;
    padding-bottom: 2.5rem;
}
.text_line {
    display: flex;
    gap: 1rem;
    padding-bottom: 1.4rem;
}
.text_elem {
    font-family: "Prata", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}
.part_container p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
}
.group_button {
    padding-top: 0.2rem;
    padding-bottom: 2rem;
}
.order_button {
    width: 7.9rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
}
.order_button:hover {
    background-color: orange;
}
.part_2 {
    width: 40%;
}
.part_picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.page_about {
    display: flex;
    flex-direction: row;
    color: white;
    background-color: #282829;
    padding-top: 100px;
}
.about_element_1 {
    width: 32%;
    height: 724px;
}
.about_element_2 {
    width: 38%;
    height: 724px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about_element_3 {
    width: 30%;
    height: 724px;
}
.about_picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about_list {
    width: 100%;
    padding-top: 2.2rem;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.about_line {
    display: flex;
    gap: 0.8rem;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
}
.about_order {
    display: flex;
    justify-content: center;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
}
.about_order_button {
    width: 100%;
    height: 3.25rem;
}
.about_order_button:hover {
    background-color: orange;
    cursor: pointer;
}
.page_join-us {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282829;
    padding-top: 4.1rem;
    padding-bottom: 4.1rem;
    padding-left: 6.7rem;
    padding-right: 6.7rem;
}
.join-us_form {
    width: 100%;
    border-radius: 30px;
    background-color: white;
    display: flex;
}
.join-us_element_1 {
    width: 60%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 5.5rem;
    padding-right: 4rem;
}
.join-us_title {
    font-family: "Prata", sans-serif;
    font-size: 2.25rem;
    font-weight: 400;
    color: #38535D;
    padding-bottom: 1.8rem;
}
.conform {
    display: flex;
    gap: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
    font-weight: 400;
    color: #55565A;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
}
.conform p {
    color: #55565A;
}
.inputs {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.inpit_line {
    width: 100%;
    height: 4.1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
}
.join-us_button {
    width: 100%;
    height: 4.1rem;
    background-color: #282829;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: white;
}
.join-us_button:hover {
    background-color: white;
    color: #282829;
    cursor: pointer;
}
.join-us_element_2 {
    width: 40%;
}
.join-us_picture {
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 0 30px 30px 0;
}
footer {
    background-color: #222222;
}
footer a {
    text-decoration: none;
    color: white;
}
.footer_list_1 {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    list-style: none;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
}
.footer_list_item {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    color: white;
}
.footer_list_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.6rem;
    padding-bottom: 2.6rem;
    padding-left: 6rem;
    padding-right: 7rem;
}
.footer_title {
    font-family: "Prata", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: white;
}
.links_list {
    display: flex;
    justify-content: center;
    gap: 1.3rem;
    list-style: none;
}
.links_list img {
    cursor: pointer;
}
.footer_order {
    width: 7.5rem;
    height: 3.25rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
}
.footer_order:hover {
    background-color: orange;
    cursor: pointer;
}
.footer_list_3 {
    display: flex;
    justify-content: space-between;
    padding-top: 2.25rem;
    padding-bottom: 2.5rem;
    padding-left: 6rem;
    padding-right: 7rem;
}
.footer_list_3 a, p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
}
.footer_list_3 a:hover {
    -webkit-text-stroke: 1px silver;
}
.blur-header {
    background-color: transparent;
}
.blur-header::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .8);
    background-color: rgba(0, 0, 0, .7);
    backdrop-filter: blur(3px);
    z-index: -1;
}
@media only screen and (max-width: 600px) {
    .header_container {
        width: 100%;
    }
    nav {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding-top: 0;
    }
    .page_home {
        flex-direction: column;
    }
    .part_1, .part_2 {
        width: 100%;
    }
    .part_container {
        padding-left: 1.5rem;
    }
    .group_title, .under_title {
        text-align: center;
    }
    .page_about {
        flex-direction: column;
    }
    .about_element_1, .about_element_2, .about_element_3 {
        width: 100%;
    }
    .page_join-us {
        padding: 0;
    }
    .join-us_title {
        text-align: center;
    }
    .join-us_form {
        flex-direction: column;
    }
    .join-us_element_1 {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    .join-us_element_2 {
        display: none;
    }
    .footer_list_1, .footer_list_2, .footer_list_3 {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .links_list {
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}